<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:th="http://thymeleaf.org">
<head>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>Users</title>
</head>
<body>
<!-- Navbar-->
<nav class="navbar fixed-top navbar-dark bg-dark">
    <div class="container-fluid ">
        <div>
            <p class="fs-5" style="color: white;">Fixed top</p>
        </div>
        <div>
            <a th:href="@{/logout}" style="color: white; text-decoration: none">Log out</a>
        </div>


    </div>
</nav>
</body>
</html>