<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>Users</title>
</head>
<body class="bg-light">
<!-- Navbar-->
<nav class="navbar sticky-top navbar-dark bg-dark fs-4">
    <div class="container-fluid my-1">
        <div class="navbar-nav">
            <form class="form-inline">
                <strong><span id="email-header" class="navbar-text text-white font-weight-bold"></span></strong>
                <span class="navbar-text text-white"> with roles: </span>
                <span class="navbar-text text-white"><a id = "roles-header"></a></span>
            </form>
        </div>
        <div>
            <a class="text-secondary fs-5" th:href="@{/logout}" style="text-decoration: none">Logout</a>
        </div>
    </div>
</nav>

<!--Main block-->
<div class="d-flex align-items-start">
    <div class="container bg-white w-25 vh-100">
        <div class="nav flex-column nav-pills mt-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
            <a class="nav-link active" id="v-pills-user-tab" data-bs-toggle="pill" href="#v-pills-user" role="tab"
               aria-controls="v-pills-user" aria-selected="true">User</a>
        </div>
    </div>

    <!--    right menu-->
    <div class="tab-content mx-4 w-75" id="v-pills-tabContent">
        <div class="tab-pane fade show active" id="v-pills-user" role="tabpanel" aria-labelledby="v-pills-user-tab">
            <h1 class="my-3">User information-page</h1>
            <div class="card">
                <div class="card-header">
                    <h5>About user</h5>
                </div>
                <div class="card-body">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">First Name</th>
                            <th scope="col">Last Name</th>
                            <th scope="col">Age</th>
                            <th scope="col">Email</th>
                            <th scope="col">Role</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <th scope="row" id="id"></th>
                            <td id="firstName"></td>
                            <td id="lastName"></td>
                            <td id="age"></td>
                            <td id="email"></td>
                            <td id="roles" style="white-space: pre-line"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="user.js"></script>
</body>
</html>